*.egg-info
*.lock
*.log
*.pyc
*.pyo
*$py.class
__*.txt
__*.rst
.done.*
.DS_Store
.coverage
rerun.txt

# -- DIRECTORIES:
.cache/
.direnv/
.fleet/
.idea/
.pytest_cache/
.ruff_cache/
.tox/
.venv*/
.vscode/
__pycache__/
__WORKDIR__/
__*/
build/
dist/
